:root {
  --basic-white: #FFFFFF;
  --basic-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-black: #000000;
  --antracit: #283136;
  --light-grey: #666666;
  --dark-grey: #444444;
  --extra-dark-grey: #4D4D4D;
  --dark-red: #E74246;
  --extra-dark-red: #D7373B;
  --dark-green: #00BC6C;
  --extra-dark-green: #00AA62;
  --dark-yellow: #EAB534;
  --extra-dark-yellow: #E5A722;
  --gray: #DFDFDF;
  --neutral-grey: #D5D5D5;
  --optional-gray: #E1E1E1;
  --neutral-white: #C1C1C1;
  --black: #231F20;
  --blond-grey: #A6A6A6;
  --grey-white: #D7DCDE;
  --dark-grey-white: #B4B9BB;
  --light-white-gray: #ABABAB;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background-color: var(--basic-gray);
  padding-top: 49px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Main navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-header-logo {
  cursor: pointer;
}

.main-header-logo:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  list-style: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.site-navigation-item {
  margin-right: 45px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-link,
.basket-link {
  color: var(--basic-black);
  display: block;
}

.user-navigation {
  min-width: 115px;
  font-weight: 500;
  padding-top: 9px;
}

.basket-link {
  position: relative;
  margin-left: 40px;
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: -40px;
  margin: 0;
  padding: 0;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.basket-link:hover,
.basket-link:focus {
  color: var(--basic-red);
}

.site-navigation-link:active,
.basket-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.link-active {
  position: relative;
}

.link-active::after {
  content: "";
  position: absolute;
  background-color: var(--basic-red);
  height: 2px;
  left: 0;
  right: 0;
  bottom: -13px;
}

/* Features */
.main-content {
  margin: 0;
}

.features {
  background-color: var(--basic-gray);
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  padding: 0;
}

.slider-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 96px;
  width: inherit;
}

.slider-radio button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  position: relative;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.slider-radio button:not(:last-child) {
  margin-right: 18px;
}

.active-slider-radio::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--neutral-white);
  border-radius: 50%;
  box-sizing: border-box;
  top: 5px;
  left: 5px;
  background-color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  width: 1157px;
  height: 421px;
  background-repeat: no-repeat;
  background-position: top right;
}

.active-slide {
  display: block;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1-1.png");
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.slide-2 {
  background-image: url("../img/nerds-index-slide2-1.png");
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.slide-3 {
  background-image: url("../img/nerds-index-slide3-1.png");
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.features-title {
  width: 538px;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 69px;
}

.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 400px;
  margin-bottom: 55px;
}

.more-info {
  background-color: var(--basic-red);
  padding: 17px 54px 15px;
  border-radius: 3px;
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.more-info:hover {
  background-color: var(--dark-red);
}

.more-info:active {
  background-color: var(--extra-dark-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/*basic-offer*/

.basic-offer {
  margin-top: 80px;
  padding-bottom: 79px;
  border-bottom: 2px solid var(--basic-gray);
  border-top: none;
  border-left: none;
  border-right: none;
}

.basic-offer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.offer-item {
  max-width: 300px;
  margin-right: 100px;
}

.offer-item:last-child {
  margin-right: 0;
}

.offer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 18px; /*20*/
  margin-bottom: 16px;
  text-align: left;
}

.offer-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--antracit);
  margin: 0;
  margin-bottom: 30px;
  max-width: 260px;
  text-align: left;
}

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding: 17px 40px 15px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  max-height: 50px;
}

.color-green {
  background-color: var(--basic-green);
}

.color-yellow {
  background-color: var(--basic-yellow);
}

.button:hover,
.button:focus {
  background: var(--dark-red);
}

.button:active {
  background: var(--extra-dark-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-primary:hover,
.button-primary:focus {
  background: var(--dark-green);
}

.button-primary:active {
  background: var(--extra-dark-green);
}

.button-secondary:hover,
.button-secondary:focus {
  background: var(--dark-yellow);
}

.button-secondary:active {
  background: var(--extra-dark-yellow);
}

/*about-company*/
.about-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 149px;
}

.company-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 73px;
}

.company-title {
  min-width: 651px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.company-text {
  min-width: 646px;
  font-size: 16px;
  line-height: 24px;
  color: var(--antracit);
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.order-title {
  min-width: 306px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
}

.order-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-item {
  font-size: 16px;
  line-height: 24px;
  color: var(--antracit);
  padding-left: 35px;
  position: relative;
}

.order-item:not(:last-child) {
  margin-bottom: 24px;
}

.order-item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
  top: 10px;
  left: -7px;
}

/*company-stat*/
.company-stat {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.stat-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-bottom: 31px;
}

.stat-percent-number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  text-align: left;
}

.stat-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.stat-feature {
  color: var(--antracit);
  font-size: 16px;
  line-height: 18px;
  height: 55px;
}

.stat {
  border-spacing: 11px 0;
  margin: 0 -10px;
}

/*partners*/
.partners {
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
  margin-bottom: 76px;
  padding-top: 46px;
  padding-bottom: 34px;
  margin-top: 70px;
}

.partners-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}

.partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item:focus a,
.partners-item:hover a {
  opacity: 1;
}

.partners-item:active a {
  opacity: 0.1;
}

.partners-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  right: -18px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray);
}

/*footer*/
.page-footer {
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  padding: 69px 0;
}

.footer-contacts {
  position: relative;
  background-image: url("../img/map-with-marker.jpg");
  height: 416px;
  wigth: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.map {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: auto;
}

.map iframe {
  position: absolute;
  z-index: 2;
}

.map-marker {
  position: absolute;
  z-index: 2;
  left: 702px;
  top: 89px;

}

.contact-info {
  position: absolute;
  z-index: 3;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  top: 54px;
  bottom: 54px;
  padding: 0;
  padding-top: 33px;
  box-sizing: border-box;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 270px;
  margin-right: 130px;
}

.social-list-item {
  margin-right: 9px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), var(--basic-gray);
}

.social-button:active {
  background: linear-gradient(0deg, var(--extra-dark-red), var(--extra-dark-red)), var(--basic-gray);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-img:active {
  opacity: 0.3;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--optional-gray), var(--optional-gray)), var(--basic-gray);
  border-style: none;
}

.contact-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 23px;
  padding-left: 50px;
  padding-right: 50px;
}

.contact-address,
.contact-tell {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
  padding-left: 50px;
  padding-right: 55px;
}

.contact-tell {
  margin-bottom: 37px;
}

.tell {
  color: inherit;
}

.footer-social-title {
  display: flex;
  flex-direction: column;
}

.social-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 7px;
}

.social-text {
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

/*catalog*/
.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-align: center;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 108px;
}

.main-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  margin-top: 55px;
  margin-bottom: 59px;
}

.catalog {
  margin-left: 140px;
}

/*pagination*/
.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

.page-button {
  display: block;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 20px 15px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  box-sizing: border-box;
}

.page-button:hover,
.page-button:focus {
  background-color: var(--gray);
}

.page-button:active {
  background-color: var(--neutral-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.button-number-page {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.button-next {
  min-width: 260px;
  height: 50px;
}

.button-page-active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--basic-gray);
}

/*products*/
.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 358px 358px;
  column-gap: 43px;
  row-gap: 34px;
  margin: 0;
  padding: 0;
}

.product-item {
  position: relative;
  background-color: var(--basic-white);
  box-sizing: border-box;
  min-width: 358px;
  min-height: 576px;
  margin-right: 38px;
  margin-bottom: 30px;
  border-radius: 0 0 5px 5px;
}

.product-item::before {
  content: "";
  position: absolute;
  background-image: url("../img/browser-header.svg");
  width: 358px;
  height: 40px;
  opacity: 0.12;
  top: -40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-text {
  display: none;
  position: absolute;
  box-sizing: border-box;
  min-width: 360px;
  min-height: 231px;
  left: 0;
  bottom: 0;
  padding-top: 26px;
  background-color: var(--basic-gray);
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.product-title:hover {
  color: var(--basic-red);
}

.product-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
  width: 255px;
  text-align: center;
  margin: 0 53px 32px 52px;
}

.product-button {
  display: block;
  width: 200px;
  box-sizing: border-box;
  background-color: var(--basic-red);
  border-radius: 3px;
  margin: 0 auto;
  padding: 17px 72px 15px;
  text-align: center;
}

.product-item:hover .product-text {
  display: block;
}

.product-item:hover::before {
  opacity: 1;
}

.product-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

/*sorting*/
.sort-nav {
  display: flex;
  margin-bottom: 89px;
  align-items: baseline;
}

.sort-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  min-width: 271px;
}

.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.active,
.sort-list-item:active,
.sort-list-item:focus {
  opacity: 1;
}

.sort-list-item:hover {
  opacity: 0.6;
}

.filter-list-arrow {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.filter-button {
  position: relative;
  width: 11px;
  height: 10px;
  margin-right: 18px;
}

.filter-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
}

.filter-down::before {
  background-image: url("/img/shape-down.svg");
}

.filter-up::before {
  background-image: url("/img/shape-up.svg");
}

.nav-list {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  width: 43px;
}

.nav-button {
  opacity: 0.3;
  margin-right: 18px;
}

.nav-button:hover {
  opacity: 0.6;
}

.nav-button:active,
.nav-button:focus {
  opacity: 1;
}

.nav-active {
  border-top-color: var(--basic-black);
  opacity: 1;
}

.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-right: 266px;
}

.sort-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-right: 25px;
}

/*filters*/
.filter {
  min-width: 260px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.filter-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.filter-grid {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 54px 0 0;
  padding: 0;
}

.filter-list {
  padding: 0;
}

.radio-item {
  font-size: 16px;
  line-height: 19px;
}

.radio-item:not(:last-child) {
  margin-bottom: 21px;
}

.radio-label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.radio-button + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  left: 0;
  top: -1px;
}

.radio-button:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.radio-button:focus + .radio-label::before,
.radio-button:focus + .radio-label::after,
.radio-button:hover + .radio-label::before,
.radio-button:hover + .radio-label::after {
  opacity: 1;
}

.filter-features {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 35px;
  padding: 0;
}

.label-checkbox {
  position: relative;
  padding-left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.checkbox-item {
  font-size: 16px;
  line-height: 19px;
}

.checkbox-item:not(:last-child) {
  margin-bottom: 21px;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: 0 0;
  opacity: 0.4;
  left: 0;
  top: -5px;
}

.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-size: 25px 23px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.4;
  left: 0;
  top: -5px;
}

.checkbox:checked:hover + label::after,
.checkbox:checked:focus + label::after {
  opacity: 1.0;
}

.checkbox:hover + label::before,
.checkbox:focus + label::before {
  opacity: 1.0;
}

.checkbox:checked:disabled + label::after,
.checkbox:disabled + label::before,
.radio-button:checked:disabled + .radio-label::before,
.radio-button:disabled + .radio-label::after {
  opacity: 0.1;
}

.checkbox:disabled,
.checkbox:checked:disabled,
.radio-button:checked:disabled,
.radio-button:disabled {
  cursor: not-allowed;
}

.button-show {
  border: none;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-gray);
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  padding: 17px 89px 15px 88px;
  cursor: pointer;
}

.button-show:hover,
.button-show:focus {
  background-color: var(--gray);
}

.button-show:active {
  background-color: var(--neutral-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

/*range*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 0 auto;
}

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-gray);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-white);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--light-white-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--antracit);
  border: none;
  border-radius: 5px;
  background: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
  margin: auto;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 180px;
  margin-top: 10px;
  transform: translateY(-50%);
}

.modal-feedback {
  width: 960px;
  height: 590px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  width: 761px;
  margin: 0 auto;
  padding: 10px;
}

.modal-header {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 14px;
}

.feedback-form {
  margin: 0;
  margin-top: 5px;
}

.modal-label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.form-contact-data {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 77px;
  margin-bottom: 35px;
}

.contact-data-item {
  margin: 0;
  margin-right: 40px;
}

.contact-data-item-email {
  margin-right: 0;
}

.contact-text {
  margin: 0 auto;
  margin-bottom: 31px;
}

.feedback {
  margin-left: 51px;
  box-sizing: border-box;
  min-width: 219px;
}

.modal-field {
  color: var(--basic-white);
  border: 2px solid var(--grey-white);
  border-radius: 4px;
  background-color: transparent;
  width: 340px;
  min-height: 50px;
  margin-top: 6px;
  padding-left: 13px;
}

.message-area {
  width: 740px;
  resize: none;
  padding-top: 14px;
  padding-left: 16px;
}

.contact-text input::placeholder {
  padding-top: 16px;
  padding-left: 16px;
}

.modal-field:invalid {
  border-color: var(--dark-red);
  color: var(--dark-red);
  opacity: 1;
}

.modal-field:hover {
  border-color: var(--dark-grey-white);
  color: var(--dark-grey);
  opacity: 0.5;
}

.modal-field:focus {
  border-color: var(--basic-black);
  color: var(--dark-grey);
  opacity: 1;
}

.send-message {
  width: 259px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}

.modal-close {
  border: none;
  outline: none;
  background: transparent;
  background-image: url("../img/close-cross.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 80px;
  top: 71px;
  cursor: pointer;
}

.modal-close:hover {
  cursor: pointer;
  background-image: url("../img/close-cross-focus.png");
}

.modal-close:active {
  background-image: url("../img/close-cross-active.png");
}

/* Animations */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}
